modules/resellerclub/lib/wsdl/domain.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.foundation.sfnb.order.DomOrder" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.foundation.sfnb.order.DomOrder" xmlns:intf="com.logicboxes.foundation.sfnb.order.DomOrder" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="com.logicboxes.foundation.sfnb.order.DomOrder" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_int" nillable="true" type="impl:ArrayOf_xsd_int"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_string" nillable="true" type="impl:ArrayOf_xsd_string"/>
  </schema>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item">
      <complexType>
       <all>
        <element name="key" type="xsd:anyType"/>
        <element name="value" type="xsd:anyType"/>
       </all>
      </complexType>
     </element>
    </sequence>
   </complexType>
   <element name="Map" nillable="true" type="apachesoap:Map"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="Vector" nillable="true" type="apachesoap:Vector"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkAvailabilityRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainName" type="xsd:string"/>

      <wsdl:part name="suggestAlternative" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="bulkSuspendCustomerOrdersResponse">

   </wsdl:message>

   <wsdl:message name="bulkSuspendResellerOrdersRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="resellerIds" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="add" type="xsd:boolean"/>

      <wsdl:part name="reason" type="xsd:string"/>

      <wsdl:part name="removeChildLocks" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getLockListRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="modifyChildNameServerNameResponse">

      <wsdl:part name="modifyChildNameServerNameReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="removeCustomerLockRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="modifyDomainSecretResponse">

      <wsdl:part name="modifyDomainSecretReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="cancelTransferRequestResponse">

      <wsdl:part name="cancelTransferRequestReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="deleteChildNameServerIpResponse">

      <wsdl:part name="deleteChildNameServerIpReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="listResponse">

      <wsdl:part name="listReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="transferDomainRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainHash" type="apachesoap:Map"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteChildNameServerIpRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="cns" type="xsd:string"/>

      <wsdl:part name="ipAddress" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="bulkSuspendResellerOrdersResponse">

   </wsdl:message>

   <wsdl:message name="addChildNameServerResponse">

      <wsdl:part name="addChildNameServerReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="setCustomerLockResponse">

      <wsdl:part name="setCustomerLockReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="registerDomainResponse">

      <wsdl:part name="registerDomainReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="listRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="resellerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="customerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="showChildOrders" type="xsd:boolean"/>

      <wsdl:part name="domainType" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="currentStatus" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="creationDTRangStart" type="xsd:string"/>

      <wsdl:part name="creationDTRangEnd" type="xsd:string"/>

      <wsdl:part name="endTimeRangStart" type="xsd:string"/>

      <wsdl:part name="endTimeRangEnd" type="xsd:string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="modifyChildNameServerNameRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="oldCns" type="xsd:string"/>

      <wsdl:part name="newCns" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="removeCustomerLockResponse">

      <wsdl:part name="removeCustomerLockReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="deleteDomainResponse">

      <wsdl:part name="deleteDomainReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="bulkLockOrdersResponse">

   </wsdl:message>

   <wsdl:message name="renewDomainResponse">

      <wsdl:part name="renewDomainReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="bulkLockCustomerOrdersRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="customerIds" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="lockName" type="xsd:string"/>

      <wsdl:part name="add" type="xsd:boolean"/>

      <wsdl:part name="reason" type="xsd:string"/>

      <wsdl:part name="removeChildLocks" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="addChildNameServerRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="cns" type="xsd:string"/>

      <wsdl:part name="ipAddress" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="modifyNameServerResponse">

      <wsdl:part name="modifyNameServerReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="deleteDomainRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getDetailsResponse">

      <wsdl:part name="getDetailsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="setCustomerLockRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="bulkSuspendOrdersRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="entityIds" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="add" type="xsd:boolean"/>

      <wsdl:part name="reason" type="xsd:string"/>

      <wsdl:part name="removeChildLocks" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="checkAvailabilityResponse">

      <wsdl:part name="checkAvailabilityReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="bulkSuspendOrdersResponse">

   </wsdl:message>

   <wsdl:message name="renewDomainRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainHash" type="apachesoap:Map"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="bulkLockOrdersRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="entityIds" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="lockName" type="xsd:string"/>

      <wsdl:part name="add" type="xsd:boolean"/>

      <wsdl:part name="reason" type="xsd:string"/>

      <wsdl:part name="removeChildLocks" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="cancelTransferRequestRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="entityId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="bulkLockResellerOrdersRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="resellerIds" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="lockName" type="xsd:string"/>

      <wsdl:part name="add" type="xsd:boolean"/>

      <wsdl:part name="reason" type="xsd:string"/>

      <wsdl:part name="removeChildLocks" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="modifyDomainSecretRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="newSecret" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="bulkLockCustomerOrdersResponse">

   </wsdl:message>

   <wsdl:message name="getDetailsRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="option" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="transferDomainResponse">

      <wsdl:part name="transferDomainReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="modifyNameServerRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="nsHash" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getLockListResponse">

      <wsdl:part name="getLockListReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="modifyChildNameServerIpRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="cns" type="xsd:string"/>

      <wsdl:part name="oldIp" type="xsd:string"/>

      <wsdl:part name="newIp" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="registerDomainRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainHash" type="apachesoap:Map"/>

      <wsdl:part name="ns" type="apachesoap:Vector"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="bulkSuspendCustomerOrdersRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="customerIds" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="add" type="xsd:boolean"/>

      <wsdl:part name="reason" type="xsd:string"/>

      <wsdl:part name="removeChildLocks" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="checkAvailabilityMultipleRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainNames" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="tlds" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="suggestAlternative" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="modifyContactResponse">

      <wsdl:part name="modifyContactReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="checkAvailabilityMultipleResponse">

      <wsdl:part name="checkAvailabilityMultipleReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="modifyContactRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="bulkLockResellerOrdersResponse">

   </wsdl:message>

   <wsdl:message name="modifyChildNameServerIpResponse">

      <wsdl:part name="modifyChildNameServerIpReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:portType name="Domain">

      <wsdl:operation name="list" parameterOrder="userName password role langpref parentid orderId resellerId customerId showChildOrders domainType currentStatus description creationDTRangStart creationDTRangEnd endTimeRangStart endTimeRangEnd numOfRecordPerPage pageNum orderBy">

         <wsdl:input message="impl:listRequest" name="listRequest"/>

         <wsdl:output message="impl:listResponse" name="listResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDetails" parameterOrder="userName password role langpref parentid orderId option">

         <wsdl:input message="impl:getDetailsRequest" name="getDetailsRequest"/>

         <wsdl:output message="impl:getDetailsResponse" name="getDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="checkAvailability" parameterOrder="userName password role langpref parentid domainName suggestAlternative">

         <wsdl:input message="impl:checkAvailabilityRequest" name="checkAvailabilityRequest"/>

         <wsdl:output message="impl:checkAvailabilityResponse" name="checkAvailabilityResponse"/>

      </wsdl:operation>

      <wsdl:operation name="checkAvailabilityMultiple" parameterOrder="userName password role langpref parentid domainNames tlds suggestAlternative">

         <wsdl:input message="impl:checkAvailabilityMultipleRequest" name="checkAvailabilityMultipleRequest"/>

         <wsdl:output message="impl:checkAvailabilityMultipleResponse" name="checkAvailabilityMultipleResponse"/>

      </wsdl:operation>

      <wsdl:operation name="registerDomain" parameterOrder="userName password role langpref parentid domainHash ns registrantContactId adminContactId techContactId billingContactId customerId invoiceOption">

         <wsdl:input message="impl:registerDomainRequest" name="registerDomainRequest"/>

         <wsdl:output message="impl:registerDomainResponse" name="registerDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="transferDomain" parameterOrder="userName password role langpref parentid domainHash registrantContactId adminContactId techContactId billingContactId customerId invoiceOption">

         <wsdl:input message="impl:transferDomainRequest" name="transferDomainRequest"/>

         <wsdl:output message="impl:transferDomainResponse" name="transferDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="renewDomain" parameterOrder="userName password role langpref parentid domainHash invoiceOption">

         <wsdl:input message="impl:renewDomainRequest" name="renewDomainRequest"/>

         <wsdl:output message="impl:renewDomainResponse" name="renewDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modifyNameServer" parameterOrder="userName password role langpref parentid orderId nsHash">

         <wsdl:input message="impl:modifyNameServerRequest" name="modifyNameServerRequest"/>

         <wsdl:output message="impl:modifyNameServerResponse" name="modifyNameServerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addChildNameServer" parameterOrder="userName password role langpref parentid orderId cns ipAddress">

         <wsdl:input message="impl:addChildNameServerRequest" name="addChildNameServerRequest"/>

         <wsdl:output message="impl:addChildNameServerResponse" name="addChildNameServerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modifyChildNameServerName" parameterOrder="userName password role langpref parentid orderId oldCns newCns">

         <wsdl:input message="impl:modifyChildNameServerNameRequest" name="modifyChildNameServerNameRequest"/>

         <wsdl:output message="impl:modifyChildNameServerNameResponse" name="modifyChildNameServerNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modifyChildNameServerIp" parameterOrder="userName password role langpref parentid orderId cns oldIp newIp">

         <wsdl:input message="impl:modifyChildNameServerIpRequest" name="modifyChildNameServerIpRequest"/>

         <wsdl:output message="impl:modifyChildNameServerIpResponse" name="modifyChildNameServerIpResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteChildNameServerIp" parameterOrder="userName password role langpref parentid orderId cns ipAddress">

         <wsdl:input message="impl:deleteChildNameServerIpRequest" name="deleteChildNameServerIpRequest"/>

         <wsdl:output message="impl:deleteChildNameServerIpResponse" name="deleteChildNameServerIpResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modifyContact" parameterOrder="userName password role langpref parentid orderId registrantContactId adminContactId techContactId billingContactId">

         <wsdl:input message="impl:modifyContactRequest" name="modifyContactRequest"/>

         <wsdl:output message="impl:modifyContactResponse" name="modifyContactResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteDomain" parameterOrder="userName password role langpref parentid orderId">

         <wsdl:input message="impl:deleteDomainRequest" name="deleteDomainRequest"/>

         <wsdl:output message="impl:deleteDomainResponse" name="deleteDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modifyDomainSecret" parameterOrder="userName password role langpref parentid orderId newSecret">

         <wsdl:input message="impl:modifyDomainSecretRequest" name="modifyDomainSecretRequest"/>

         <wsdl:output message="impl:modifyDomainSecretResponse" name="modifyDomainSecretResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setCustomerLock" parameterOrder="userName password role langpref parentid orderId">

         <wsdl:input message="impl:setCustomerLockRequest" name="setCustomerLockRequest"/>

         <wsdl:output message="impl:setCustomerLockResponse" name="setCustomerLockResponse"/>

      </wsdl:operation>

      <wsdl:operation name="removeCustomerLock" parameterOrder="userName password role langpref parentid orderId">

         <wsdl:input message="impl:removeCustomerLockRequest" name="removeCustomerLockRequest"/>

         <wsdl:output message="impl:removeCustomerLockResponse" name="removeCustomerLockResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getLockList" parameterOrder="userName password role langpref parentid orderId">

         <wsdl:input message="impl:getLockListRequest" name="getLockListRequest"/>

         <wsdl:output message="impl:getLockListResponse" name="getLockListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkLockCustomerOrders" parameterOrder="userName password role langpref parentid customerIds lockName add reason removeChildLocks">

         <wsdl:input message="impl:bulkLockCustomerOrdersRequest" name="bulkLockCustomerOrdersRequest"/>

         <wsdl:output message="impl:bulkLockCustomerOrdersResponse" name="bulkLockCustomerOrdersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkLockOrders" parameterOrder="userName password role langpref parentid entityIds lockName add reason removeChildLocks">

         <wsdl:input message="impl:bulkLockOrdersRequest" name="bulkLockOrdersRequest"/>

         <wsdl:output message="impl:bulkLockOrdersResponse" name="bulkLockOrdersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkLockResellerOrders" parameterOrder="userName password role langpref parentid resellerIds lockName add reason removeChildLocks">

         <wsdl:input message="impl:bulkLockResellerOrdersRequest" name="bulkLockResellerOrdersRequest"/>

         <wsdl:output message="impl:bulkLockResellerOrdersResponse" name="bulkLockResellerOrdersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkSuspendCustomerOrders" parameterOrder="userName password role langpref parentid customerIds add reason removeChildLocks">

         <wsdl:input message="impl:bulkSuspendCustomerOrdersRequest" name="bulkSuspendCustomerOrdersRequest"/>

         <wsdl:output message="impl:bulkSuspendCustomerOrdersResponse" name="bulkSuspendCustomerOrdersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkSuspendOrders" parameterOrder="userName password role langpref parentid entityIds add reason removeChildLocks">

         <wsdl:input message="impl:bulkSuspendOrdersRequest" name="bulkSuspendOrdersRequest"/>

         <wsdl:output message="impl:bulkSuspendOrdersResponse" name="bulkSuspendOrdersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkSuspendResellerOrders" parameterOrder="userName password role langpref parentid resellerIds add reason removeChildLocks">

         <wsdl:input message="impl:bulkSuspendResellerOrdersRequest" name="bulkSuspendResellerOrdersRequest"/>

         <wsdl:output message="impl:bulkSuspendResellerOrdersResponse" name="bulkSuspendResellerOrdersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="cancelTransferRequest" parameterOrder="userName password role langpref parentid entityId">

         <wsdl:input message="impl:cancelTransferRequestRequest" name="cancelTransferRequestRequest"/>

         <wsdl:output message="impl:cancelTransferRequestResponse" name="cancelTransferRequestResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DomainServiceSoapBinding" type="impl:Domain">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="list">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkAvailability">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkAvailabilityRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="checkAvailabilityResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkAvailabilityMultiple">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkAvailabilityMultipleRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="checkAvailabilityMultipleResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="registerDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="transferDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="transferDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="transferDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="renewDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="renewDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="renewDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyNameServer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyNameServerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyNameServerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addChildNameServer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addChildNameServerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addChildNameServerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyChildNameServerName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyChildNameServerNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyChildNameServerNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyChildNameServerIp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyChildNameServerIpRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyChildNameServerIpResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteChildNameServerIp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteChildNameServerIpRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteChildNameServerIpResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyContact">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyContactRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyContactResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyDomainSecret">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyDomainSecretRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyDomainSecretResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setCustomerLock">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setCustomerLockRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setCustomerLockResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeCustomerLock">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeCustomerLockRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeCustomerLockResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLockList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLockListRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLockListResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkLockCustomerOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkLockCustomerOrdersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkLockCustomerOrdersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkLockOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkLockOrdersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkLockOrdersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkLockResellerOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkLockResellerOrdersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkLockResellerOrdersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkSuspendCustomerOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkSuspendCustomerOrdersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkSuspendCustomerOrdersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkSuspendOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkSuspendOrdersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkSuspendOrdersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkSuspendResellerOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkSuspendResellerOrdersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkSuspendResellerOrdersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelTransferRequest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelTransferRequestRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="cancelTransferRequestResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DomainService">

      <wsdl:port binding="impl:DomainServiceSoapBinding" name="DomainService">

         <wsdlsoap:address location="http://prog.internal.directi.com:9090/anacreon/servlet/rpcrouter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
