trunk/modules/resellerclub/lib/wsdl/fund.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.foundation.sfnb.management.Fund" xmlns:impl="com.logicboxes.foundation.sfnb.management.Fund" xmlns:intf="com.logicboxes.foundation.sfnb.management.Fund" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="com.logicboxes.foundation.sfnb.management.Fund">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_int" nillable="true" type="impl:ArrayOf_xsd_int"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_string" nillable="true" type="impl:ArrayOf_xsd_string"/>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.apache.org/xml-soap">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Map">
    <sequence>
     <element name="item" minOccurs="0" maxOccurs="unbounded">
      <complexType>
       <all>
        <element name="key" type="xsd:anyType"/>
        <element name="value" type="xsd:anyType"/>
       </all>
      </complexType>
     </element>
    </sequence>
   </complexType>
   <element name="Map" nillable="true" type="apachesoap:Map"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="payCustomerTransactionRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="invoiceTransIdArr" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="debitNoteIdArr" type="impl:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="listCustomerPendingTransactionsResponse">

      <wsdl:part name="listCustomerPendingTransactionsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="addResellerFundResponse">

      <wsdl:part name="addResellerFundReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addCustomerFundRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="sellingAmount" type="xsd:double"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="type" type="xsd:string"/>

      <wsdl:part name="transactionKey" type="xsd:string"/>

      <wsdl:part name="updateTotalReceipt" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="listCustomerPendingTransactionsRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="customerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="customerUserName" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="type" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="key" type="xsd:string"/>

      <wsdl:part name="transId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="amountStartRange" type="xsd:string"/>

      <wsdl:part name="amountEndRange" type="xsd:string"/>

      <wsdl:part name="fromDate" type="xsd:string"/>

      <wsdl:part name="toDate" type="xsd:string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="addResellerFundRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="resellerId" type="xsd:int"/>

      <wsdl:part name="sellingAmount" type="xsd:double"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="type" type="xsd:string"/>

      <wsdl:part name="transactionKey" type="xsd:string"/>

      <wsdl:part name="updateTotalReceipt" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getCustomerAvailableBalanceRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getCustomerAvailableBalanceResponse">

      <wsdl:part name="getCustomerAvailableBalanceReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="listCustomerTransactionsResponse">

      <wsdl:part name="listCustomerTransactionsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="payCustomerTransactionResponse">

      <wsdl:part name="payCustomerTransactionReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="addCustomerFundResponse">

      <wsdl:part name="addCustomerFundReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="listCustomerTransactionsRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="customerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="customerUserName" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="type" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="key" type="xsd:string"/>

      <wsdl:part name="transId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="amountStartRange" type="xsd:string"/>

      <wsdl:part name="amountEndRange" type="xsd:string"/>

      <wsdl:part name="fromDate" type="xsd:string"/>

      <wsdl:part name="toDate" type="xsd:string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:portType name="Fund">

      <wsdl:operation name="listCustomerTransactions" parameterOrder="userName password role langpref parentid customerId customerUserName type key transId description amountStartRange amountEndRange fromDate toDate numOfRecordPerPage pageNum orderBy">

         <wsdl:input name="listCustomerTransactionsRequest" message="impl:listCustomerTransactionsRequest"/>

         <wsdl:output name="listCustomerTransactionsResponse" message="impl:listCustomerTransactionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="listCustomerPendingTransactions" parameterOrder="userName password role langpref parentid customerId customerUserName type key transId description amountStartRange amountEndRange fromDate toDate numOfRecordPerPage pageNum orderBy">

         <wsdl:input name="listCustomerPendingTransactionsRequest" message="impl:listCustomerPendingTransactionsRequest"/>

         <wsdl:output name="listCustomerPendingTransactionsResponse" message="impl:listCustomerPendingTransactionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="payCustomerTransaction" parameterOrder="userName password role langpref parentid invoiceTransIdArr debitNoteIdArr">

         <wsdl:input name="payCustomerTransactionRequest" message="impl:payCustomerTransactionRequest"/>

         <wsdl:output name="payCustomerTransactionResponse" message="impl:payCustomerTransactionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCustomerAvailableBalance" parameterOrder="userName password role langpref parentid customerId">

         <wsdl:input name="getCustomerAvailableBalanceRequest" message="impl:getCustomerAvailableBalanceRequest"/>

         <wsdl:output name="getCustomerAvailableBalanceResponse" message="impl:getCustomerAvailableBalanceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addResellerFund" parameterOrder="userName password role langpref parentid resellerId sellingAmount description type transactionKey updateTotalReceipt">

         <wsdl:input name="addResellerFundRequest" message="impl:addResellerFundRequest"/>

         <wsdl:output name="addResellerFundResponse" message="impl:addResellerFundResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addCustomerFund" parameterOrder="userName password role langpref parentid customerId sellingAmount description type transactionKey updateTotalReceipt">

         <wsdl:input name="addCustomerFundRequest" message="impl:addCustomerFundRequest"/>

         <wsdl:output name="addCustomerFundResponse" message="impl:addCustomerFundResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FundServiceSoapBinding" type="impl:Fund">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listCustomerTransactions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listCustomerTransactionsRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund"/>

         </wsdl:input>

         <wsdl:output name="listCustomerTransactionsResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listCustomerPendingTransactions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listCustomerPendingTransactionsRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund"/>

         </wsdl:input>

         <wsdl:output name="listCustomerPendingTransactionsResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="payCustomerTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="payCustomerTransactionRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund"/>

         </wsdl:input>

         <wsdl:output name="payCustomerTransactionResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerAvailableBalance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerAvailableBalanceRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund"/>

         </wsdl:input>

         <wsdl:output name="getCustomerAvailableBalanceResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addResellerFund">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addResellerFundRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund"/>

         </wsdl:input>

         <wsdl:output name="addResellerFundResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomerFund">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCustomerFundRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund"/>

         </wsdl:input>

         <wsdl:output name="addCustomerFundResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FundService">

      <wsdl:port name="FundService" binding="impl:FundServiceSoapBinding">

         <wsdlsoap:address location="http://prog.internal.directi.com:9090/anacreon/servlet/rpcrouter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
